*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.admin img{
    width: 45rem;
    border: 5px solid black;
    border-radius: 50%;
    padding: 30px ;
    border: hidden;
    /* background-color: rgb(205, 205, 251); */
    
}
.admin{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 15em;
    border: 2px solid black;
    border: hidden;
    display: none;
}
.admindiv{
    border: 3px solid black;
    margin-top: 15px;
    padding: 9rem 10rem;
    background-color: whitesmoke;
    border-radius: 50%;
    border: hidden;
}
#adminbtn{
    padding: .5em 4em;
    font-size: 2rem;
    margin-top: 3px;
    background-color: rgba(10, 6, 218, 0.655);
    font-weight: bold;
    border-radius: 15px;
}
.admindiv h1{
    font-size: 80px;
    padding: 2rem;
    text-align: center;
    
    
}
.adminpara{
    text-align: center;
    padding: 1rem;
   
}
.adminpara input{
   padding: 1.5rem 8rem;
   font-size: 1.7em;
   margin-top: 10px;
   margin-bottom: 10px;
}
.adminpara label{
    font-size: 2em;
    margin-top: 20px;

}

.student img{
    width: 45rem;
    border: 5px solid black;
    border-radius: 50%;
    padding: 30px ;
    border: hidden;
    
}
.student{
    display: flex;
   
    justify-content: center;
    margin-top: 10em;
    border: 2px solid black;
    border: hidden;
    
    
}
.mainpar{
    border: 3px solid black;
    margin-top: 15px;
    padding: 11rem 10rem;
    
    background-color: whitesmoke;
    border-radius: 50%;
    border: hidden;
}
.main h1{
    font-size: 40px;
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
    text-decoration-color: rgba(10, 6, 218, 0.521);
}
#studentbtn{
    padding: .2em 2em;
    font-size: 1.5rem;
    margin-top: 3px;
    background-color: rgba(10, 6, 218, 0.521);
    font-weight: bold;
    border-radius: 15px;
}
#studentbtn:hover{
    background-color:#fff ;
    color: blue;

}
.mainpar{
    text-align: center;
    padding: 6rem 14rem;

   
}
.mainpar input{
   padding: 1rem 3rem;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}
.mainpar input:focus{
    background-color:white ;
    background-color: #fff;
}
.mainpar label{
    font-size: 1.4em;
    margin-top: 20px;

}
@media all and (min-width:200px) and (max-width:1400px){
   
    .student{
        margin-top:20px;
        margin: 0 auto;
       
    }
    .mainpar{
        padding: 1em 2em;
        border: 2px solid black;
        border-style: hidden;
        width: 40em;
        background-color: whitesmoke;
        border-radius: 50%;
        
    }
    .mainpar input{
        padding: 18px 12px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .student img{
        width: 50px;
        margin-top: 20px;
    } 
   
    #studentbtn{
    padding: 4px 20px;
    font-size: 1rem;
    margin-top: 3px;
    background-color: rgba(10, 6, 218, 0.521);
    font-weight: bold;
    border-radius: 5px;
    }
    .mainpar label{
        font-size: 20px;
        margin-top: 5px;
    
    }
    .main h1{
        font-size: 50px;
        padding: 20px;
        text-align: center;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 20px;
        text-decoration-color: rgba(10, 6, 218, 0.521);
    }
    .student img{
        width: 25rem;
        border: 5px solid black;
        border-radius: 50%;
        padding: 30px ;
        border: hidden;
        
    }

}
